*.env
.idea
docker-compose.override.yml
/homepage/logs
/homepage/*.yaml
/homepage/*.css
/homepage/*.js
/sonarr
/radarr
/prowlarr
/lidarr
/bazarr
/qbittorrent
/pia
/pia-shared
/letsencrypt
/jellyseerr
/adguardhome/certs
/adguardhome/conf
/adguardhome/work
/sabnzbd
/calibre-web
/cleanuparr/*
!/cleanuparr/blacklist.json
!/cleanuparr/logs/.gitkeep
filebrowser/my-data/*
teslamate/docker-compose.yml
filebrowser/filebrowser.db
traefik_config/certificates/thinkpadserver.tail48aaac.ts.net.crt
traefik_config/certificates/thinkpadserver.tail48aaac.ts.net.key
teslamate/backups/backup.log
traefik_config/tls.yml
teslamate/backups/grafana.tar.gz.1
teslamate/backups/grafana.tar.gz.2
teslamate/backups/teslamate.bck.1
teslamate/backups/teslamate.bck.2
*.venv
.vscode/*
**/__pycache__/*
custom-docker/jellyfin-webhooks/data/settings.json
.gitignore
custom-docker/jellyfin-webhooks/data/app.log
**.bak
custom-docker/jellyfin-webhooks/data/*